<div class="container mainGrid">
    <div class="grid columna">
        <div class="row fila">
            <div class="col"><app-tarjeta></app-tarjeta></div>
            <div class="col"><app-tarjeta></app-tarjeta></div>
            <div class="col"><app-tarjeta></app-tarjeta></div>         
        </div>
        <div class="row fila">
            <div class="col"><app-tarjeta></app-tarjeta></div>
            <div class="col"><app-tarjeta></app-tarjeta></div>
            <div class="col"><app-tarjeta></app-tarjeta></div>         
        </div>
    </div>
</div>