.mainGrid {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.fila {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}