<p class="lead mb-5">
    <b>Soy un Desarrollador / Programador / Profesional Tecnológico, con el afán de poder trabajar en lo que me apasiona y mueve mi ser: la Tecnología y la Inovación, junto con las acciones individuales, en las que podemos contribuir en son hacia nuestra evolución social.</b><br>
    Al igual como el cactus logra sobrevivir en el desierto, hay algunas situaciones que también resultan bastante exigentes(como en el mundo empresarial) y cuando se superan, se logra convertirse en Resiliente. Ese es también mi caso: <br> <b>La vida y sus 'queridos' reveses, me ha hecho ser una persona Resolutiva, Creativa y Perseverante.</b> Las tecnologías son mis mayores recursos. Y como existía bastante necesidad, <b>Saber Buscar y Encontrar</b> certeramente, resulta una de mís habilidades predominantes.
</p>

<!-- <p class="lead mb-5">Me apasiona APRENDER y DESCUBRIR (en general), las 'nuevas' TECNOLOGÍAS representan los
    innumerables y crecientes RECURSOS que modulan toda mi vida, junto a mi funcionar. Parece y dicen que resulto
    también una persona bastante CREATIVA e INGENIOSA, aunque evito sobrevalorarme, tendiendo siempre a Analizar,
    Relativizar y Objetivar. La Filosofía de mi existencia resulta < A 'problemas' , SOLUCIONES> y por ende, también me
        apasiona INNOVAR.
</p>
<p class="lead mb-5">A su vez y en paralelo, la vida (ya vivida) me ha convertido en RESILIENTE (versátil, proactivo,
    perseverante, autocrítico, autoexigente y sobretodo, paciente); en consecuencia: el CAMBIO resulta mi CONSTANTE y
    una de mis mayores aficiones/habilidades, consiste y resulta justamente en BUSCAR, ENCONTRAR y 'ACERTAR'. Siempre se
    puede MEJORAR, sólo se debe intentar. PD: También se puede ya casi inferir otra de mis motivaciones, esta consiste
    en saber ESCUCHAR, COMPRENDER y en tratar de AYUDAR, a MEJORAR. Por ende y como complemento, también me 'mueve'
    AYUDAR y APORTAR, aportando 'mi' Valor añadido a todo EQUIPO.
</p>
<p class="lead mb-5">
    PD: Cursar el grado en Psicología me ha permitido mejorar, conocerme mucho mejor y aprender a autogestionarme, todo
    ello logrando rehabilitarme, también. Me adapto a 'todo'.
</p> -->