<mat-toolbar color="primary">
  <mat-toolbar-row class="footer">
    <!-- Section: Social media -->
    <!-- Facebook -->
    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-facebook-f"></i
    ></a>

    <!-- Twitter -->
    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-twitter"></i
    ></a>

    <!-- Google -->
    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i
    ></a>

    <!-- Instagram -->
    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-instagram"></i
    ></a>

    <!-- Linkedin -->
    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-linkedin-in"></i
    ></a>

    <!-- Github -->
    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
    ></a>
  </mat-toolbar-row>
  <mat-toolbar-row class="footer">
    <!-- Copyright -->
    <div>
      © 2023 Copyright:
      <a class="text-white" href="http:kevin-zamora.es/">kevin-zamora.es</a>
    </div>
    <!-- Copyright -->
  </mat-toolbar-row>
</mat-toolbar>