<!-- PASO 3 Crear un formulario para editar y agregar datos -->


<h2>Formulario de Datos</h2>
<form #dataForm="ngForm">
  <input type="hidden" name="id" [(ngModel)]="nuevoDato.id">

  <div>
    <label>Nombre:</label>
    <input type="text" name="nombre" [(ngModel)]="nuevoDato.nombre" required>
  </div>

  <div>
    <label>Edad:</label>
    <input type="number" name="edad" [(ngModel)]="nuevoDato.edad" required>
  </div>

  <div>
    <label>Profesión:</label>
    <input type="text" name="profesion" [(ngModel)]="nuevoDato.profesion" required>
  </div>

  <div>
    <button type="button" (click)="agregarOActualizarDato(dataForm)" [disabled]="!dataForm.form.valid">Guardar</button>
    <button type="button" (click)="limpiarFormulario(dataForm)">Cancelar</button>
  </div>
</form>
