<h2>Entradas:</h2>

<div>
    <label for="categoria">Selecciona una categoria:</label>
    <select [(ngModel)]="categoria" id="categoria" (change)="actualizarCategoria()">
        <option value="Ciencia Ficción">Ciencia Ficción</option>
        <option value="comedia">Comedia</option>
        <option value="documental">Documental</option>
    </select>
</div>

<div class="flex-container" [ngSwitch]="categoria"  *ngFor="let item of entradas">
        <div *ngSwitchCase="'Ciencia Ficción'">Has seleccionado la categoría "Ciencia Ficción"
            <span>{{item.nombre}} : </span>
            <span>{{item.precio}} €</span>
        </div>
        <div *ngSwitchCase="'comedia'">Has seleccionado la categoría "Comedia"
            <span>{{item.nombre}} : </span>
            <span>{{item.precio}} €</span>
        </div>
        <div *ngSwitchCase="'documental'">Has seleccionado la categoría "Documental"
            <span>{{item.nombre}} : </span>
            <span>{{item.precio}} €</span>
        </div>
        <div *ngSwitchDefault>Selecciona una opción válida</div>
</div>