<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">AporTODAS Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li><a routerLink="/home" class="nav-link px-2">Início</a></li>
        <li><a routerLink="/page1" class="nav-link px-2">Página 1</a></li>
        <li><a routerLink="/page2" class="nav-link px-2">Página 2</a></li>
        <li><a routerLink="/page3" class="nav-link px-2">Página 3</a></li>
      </ul>
    </div>
  </div>
</nav>